.attribution { 
    display: inline-block;
    font-family: Poppins;
    font-size: 1.1rem;
    font-weight: var(--font-weight-normal);
    color: var(--color-white); 
    
    a {
        color: var(--color-soft-magenta); 
    }
}